<h2>Giải Phương Trình Bậc 2</h2>
<form class="w3-table" asp-action="Phuongtrinhbac2"> 
  <label>He so A:</label>
  <input class="w3-input" type="text" name= "NumA">
  <br>
  <label>He so B:</label>
  <input class="w3-input" type="text" name= "NumB">
  <br>
  <label>He so C:</label>
  <input class="w3-input" type="text" name= "NumC">
   <br>
   <input class="w3-btn"type="submit" value="Giai">
</form>
<h2>@ViewBag.ketqua</h2>