<h2>Tính tổng một số nguyên dương</h2>
<form asp-action="Tinhtong">
    <label>Nhập số nguyên dương</label>
    <input type="text" name="Number">
    <input type="submit" value="Tinh tong">
</form>

<h2>Tổng các chữ số = @ViewBag.message</h2>