<div class="text-center">
    <h1 class="display-4">Welcome to Student List</h1>
    <p>Hoàng Kim Huân</p>
    <p>Tin học kinh tế B</p>
</div>
<form action="Index">
    <label> Full Name</label>
    <input type="text" name="FullName">
    <input type="submit" value="Send">
</form>

<h2>@ViewBag.abc</h2>
