<h1>Chuyển đổi thành câu chào</h1>
<form  asp-action="HelloWorld">
    <label>NhậP chuỗi:</label>
    <input type= "text" name= "fullName">
    <input type="submit" value="Xử lý chuỗi">
</form>
<h2>@ViewBag.ket</h2>