<h1>Đổi chữ thường sang chữ hoa</h1>
<form  asp-action="LowerToUpper">
    <label>NhậP chuỗi:</label>
    <input type= "text" name= "strInput">
    <input type="submit" value="Xử lý chuỗi">
</form>
<h2>@ViewBag.bao</h2>