<form asp-action="Index">
    <label>Nhập mã số nhân viên:</label>
    <input type="text" name="EmployeeID">
    <br>
    <label>Nhập tên nhân viên:</label>
    <input type="text" name="EmployeeName">
    <br>
    <label>Số điện thoại liên hệ:</label>
    <input type="text" name="PhoneNumber">
    <br>
    <label>Địa chỉ thường trú:</label>
    <input type="text" name="DiaChi">
    <br>
    <label>Chức vụ:</label>
    <input type="text" name="ChucVu">
    <br>
    <input type="submit" value="Xuất thông tin">
</form>
<h1>@ViewBag.show</h1>