<form asp-action="About">
    <label>Nhập mã số công dân:</label>
    <input type="text" name="MaCongDan">
    <br>
    <label>Nhập tên công dân:</label>
    <input type="text" name="TenCongDan">
    <br>
    <label>Địa chỉ:</label>
    <input type="text" name="PhoneNumber">
    <br>
    <input type="submit" value="Hiển thị">
</form>
<h1>@ViewBag.thongBao</h1>