<form asp-action="Create">
    <label>Nhập mã sinh viên:</label>
    <input type="text" name="StudentCode">
    <br>
    <label>Tên sinh viên:</label>
    <input type="text" name="FullName">
    <br>
    <label>Địa chỉ:</label>
    <input type="text" name="Address">
    <br>
    <input type="submit" value="Thực hiện">
</form>
<h2>@ViewBag.message</h2>